<!--<div *ngFor="let car of cars">-->
  <!--{{car}}-->
  <!--<app-car [car]="car">-->
    <!--<app-wheel #wheel [count]="car.wheels"></app-wheel>-->
  <!--</app-car>-->
<!--</div>-->

<!--<button (click)="addWheel()">Add wheel</button>-->
<!--<button (click)="toggleWheels()">Toggle wheels</button>-->

<div *ngIf="keyUp" class="text-holder"> Keyup: <span class="key">{{keyUp}}</span></div>
<div class="text-holder">Keypress: <span class="key">{{keypress}}</span> </div>
<div class="text-holder">Keydown: <span class="key">{{keydown}}</span> </div>

<app-matrix></app-matrix>
<app-table></app-table>
<div class="drawing-board">
  <span>Board:</span>
  <span>{{key}}</span>
</div>
